@model SpeakAndRead.Models.Lesson
<div class="text-light rounded col-10 d-flex align-items-center justify-content-center">

    <div class="text-justify">
        <h1 style="text-align:center">Delete</h1>
        <br />
        <br />
        <h4>Are you shure?</h4>
    </div>
</div>
<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LessonId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <div class="btn btn-secondary">

            <a asp-action="Index" style="color:whitesmoke">Back to List</a>
        </div>
    </form>
</div>
